{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Quiz</title>
		<link rel="stylesheet" href="{% static 'app/styles.css' %}" />
	</head>
	<body>
		<div id="quizGenerator">
			<input type="text" id="quizName" placeholder="Enter quiz name" />
			<div id="questionsContainer"></div>
			<button id="addQuestion">Add Question</button>
			<button id="generateQuiz">Create Quiz</button>
		</div>

		<!-- Question Template -->
		<template id="questionTemplate">
			<div class="question">
				<input type="text" placeholder="Enter question" />
				<div class="choicesContainer"></div>
				<button class="addChoiceBtn">Add Choice</button>
				<button class="deleteQuestionBtn">Delete Question</button>
			</div>
		</template>

		<!-- Choice Template -->
		<template id="choiceTemplate">
			<div class="choice">
				<input type="checkbox" class="correctChoiceCheckbox" />
				<input type="text" placeholder="Enter choice" />
				<button class="deleteChoiceBtn">Delete</button>
			</div>
		</template>

		<script src="{% static 'app/quiz_generator.js' %}"></script>
	</body>
</html>
