{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CMDGuide | Home</title>
		<!-- Link to the favicon -->
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
		<!-- Link to the CSS stylesheet -->
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
	</head>
	<body>
		<!-- Navigation bar -->
		<nav class="navbar">
			<!-- Logo and site name -->
			<div class="nav-logo-and-text">
				<img src="{% static 'images/icon.png' %}" alt="CMDGuide Logo" class="nav-logo" />
				<span>EduQuiz</span>
			</div>
			<!-- User information and logout button -->
			<div class="nav-user-and-logout">
				<!-- Display username of the logged-in user -->
				<span>@{{ request.user.username }}</span>
				<!-- Logout button -->
				<button class="logout-btn"><a href="{% url 'users:logout' %}">Logout</a></button>
			</div>
		</nav>

		<!-- Section for taking a quiz -->
		<section class="take-quiz-section">
			<h2>Take a Quiz</h2>
			<!-- Input field for entering quiz code -->
			<div class="quiz-input-container">
				<input type="text" class="quiz-input" placeholder="Quiz Code" />
				<!-- Button to take the quiz -->
				<button class="take-quiz-btn">Take Quiz</button>
			</div>
		</section>

		<!-- Section for incomplete quiz attempts -->
		<section class="incomplete-attempts">
			<h3>Incomplete Attempts</h3>
			<div class="quizzes">
				<!-- Example Quiz Card -->
				<button class="quiz-card">
					<!-- Display the name of the quiz -->
					<span class="quiz-name">Quiz Name</span>
					<!-- Add a progress bar or other elements as needed -->
				</button>
				<!-- More quiz cards as needed -->
			</div>
		</section>

		<!-- Section for complete quiz attempts -->
		<section class="complete-attempts">
			<h3>Complete Attempts</h3>
			<div class="quizzes">
				<!-- Example Quiz Card -->
				<button class="quiz-card completed">
					<!-- Display the name of the quiz -->
					<span class="quiz-name">Quiz Name</span>
					<!-- Display when the quiz was completed -->
					<span>Completed X days ago</span>
				</button>
				<!-- More quiz cards as needed -->
			</div>
		</section>

		<!-- Section for the user's quizzes -->
		<section class="my-quizzes">
			<h3>My Quizzes</h3>
			<!-- Button to create a new quiz -->
			<button class="create-quiz-btn"><a href="{% url 'app:create_quiz' %}">Create Quiz</a></button>
			<div class="quizzes my-quizzes-cards">
				<!-- Example Quiz Card -->
				<button class="quiz-card">
					<!-- Display the name of the quiz -->
					<span class="quiz-name">Quiz Name</span>
					<!-- Display the number of attempts/submissions for the quiz -->
					<span>Attempts/Submissions: X</span>
				</button>
				<!-- More quiz cards as needed -->
			</div>
		</section>
	</body>
</html>
