<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CMDGuide</title>
	</head>
	<body>
		<h2>All Quizzes</h2>
		<a href="{% url 'login_logout' %}"></a>
		<ul>
			{% for quiz in quizzes %}
			<li><a href="{% url 'take_quiz' quiz.id %}">{{ quiz.title }}</a> - {{ quiz.description }}</li>
			{% empty %}
			<li>No quizzes available.</li>
			{% endfor %}
			<a href="{% url 'create_quiz' %}" class="btn btn-primary">Create New Quiz</a>
		</ul>
	</body>
</html>
